.git
.gitignore
.claude
.idea
.vscode
*.md
LICENSE
docker-compose.yaml
.env
*.env.local
.DS_Store
Thumbs.db
vendor/
**/*_test.go
**/suite_test.go
internal/db/migrations/*.down.sql
coverage.html
*.out

